[star]
    type=G1

[star]
    mass = 1.3e30
    radius=543234
    temp = 5555

[planet.earth]
    mass = 42
    radius = 22
    albedo=   0.62
    bb_temp   =420

[planet.mars]
    mass=43
    radius=60
    albedo   =  0.45
    bb_temp = 444

; these are the keplarian coordinates for the planet's initial position. this is
; how the data will look when planets are randomly generated.
[planet.earth]
    M = 1.98847e30            ; mass of orbited body in kg
    a = 149597326.74          ; semi-major axis in km
    e = 0.01671022            ; eccentricity
    i = 1.5717062             ; inclination in degrees
    w = 102.94719             ; argument of periapsis (ω) in degrees
    m = 0                     ; mean anomaly in degrees
    Om = -11.26064            ; longitude of ascending node (ω or Ω) in degrees

; this is the planetary data in cartesian coordinates, and is the output once
; orbiting system calculations have begun and are saved for futher calculation.
[plant.blurg]
    ; first set is position in space in km
    x = 1
    y = 1
    z = 1
    ; this is the velocity vector
    v_x = 1
    v_y = 1
    v_z = 1
