[star]
    type=G1

[star]
    mass = 1.98847e+30
    radius=695660
    temp = 5778

[planet.mars]
    mass=6.4171e23
    albedo   =  0.250         ; bond albedo
    bb_temp = -64.15          ; black body temp in celsius

; these are the keplarian coordinates for the planet's initial position. this is
; how the data will look when planets are randomly generated.
[planet.earth]
    a = 149597326.74          ; semi-major axis in km
    e = 0.01671022            ; eccentricity
    i = 1.5717062             ; inclination in degrees
    w = 102.94719             ; argument of periapsis (ω) in degrees
    Om = -11.26064            ; longitude of ascending node (ω or Ω) in degrees
    m = 358.617               ; mean anomaly in degrees

; this is the planetary data in cartesian coordinates, and is the output once
; orbiting system calculations have begun and are saved for futher calculation.
[planet.blurg]
    ; first set is position in space in km
    x = 1
    y = 1
    z = 1
    ; this is the velocity vector
    v_x = 1
    v_y = 1
    v_z = 1
