[star]
    type=G1V
    mass = 1.3e30
    radius=543234
    temp = 5555

[planet.earth]
    mass = 42
    radius = 22
    albedo=   0.62
    bb_temp   =420

[planet.mars]
    mass=43
    radius=60
    albedo   =  0.45
    bb_temp = 444

; these are the keplarian coordinates for the planet's initial position. this
; is the data that is output when generating a system. though it can also be
; provided manually.
[planet.blub]
    a=1
    e=1
    i=1
    w=1
    Om=1
    E=1
    v=1
    r=1
    h=1

